// Inspiration: https://dribbble.com/shots/1962035-Freebie-Music-Player-Dark-Version
$player-height: 60px;
$player-width: 100vw;
@mixin unselectable() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player {
    height: $player-height;
    width: $player-width;
    background-color: rgba(36, 36, 36, 0.99);
    position: fixed;
    @include unselectable();
    left: 0;
    bottom: 0;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    img {
        height: $player-height;
        width: $player-height;
    }
}

.info {
    h1 {
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        cursor: default;
        margin-top: 20px;
        margin-left: 180px;
        line-height: 0;
    }
    h4 {
        font-style: 12px !important;
        font-weight: bold;
        color: #d94f5c;
        margin-left: 180px;
        line-height: 20px;
    }
}

.button-items {
    display: inline-block;
    margin-left: 180px;
}

#slider {
    width: $player-width;
    height: 2px;
    background: #eaeaea;
    border-radius: 2px;
    div {
        width: 4px;
        height: 2px;
        margin-top: 0;
        background: #d94f5c;
        border-radius: 2px;
    }
}

// #timer {
//    color: #494B4E;
//    line-height: 0;
//    font-size: 9pt;
//    float: right;
//    font-family: Arial, Sans-Serif;
// }
.controls {
    margin-top: 15px;
    svg:nth-child(2) {
        margin-left: 5px;
        margin-right: 5px;
    }
}

#play {
    padding: 0 3px;
    width: 30px;
    height: 30px;
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    g {
        stroke: #FEFEFE;
        stroke-width: 1;
        stroke-miterlimit: 10;
        path {
            fill: #FEFEFE;
        }
    }
}

#play:hover {
    cursor: pointer;
    g {
        stroke: #d94f5c;
        cursor: pointer;
        path {
            fill: #d94f5c;
            cursor: pointer;
        }
    }
}

.step-backward {
    width: 18px;
    height: 18px;
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    margin-bottom: 5px;
    g polygon {
        fill: #FEFEFE;
    }
}

.step-foreward {
    width: 18px;
    height: 18px;
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    margin-bottom: 5px;
    g polygon {
        fill: #FEFEFE;
    }
}

#pause {
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -38px;
    cursor: pointer;
    rect {
        fill: white;
    }
}

#pause:hover rect {
    fill: #8F4DA9;
}

.step-backward g polygon:hover,
.step-foreward g polygon:hover {
    fill: #EF6DBC;
    cursor: pointer;
}

#skip {
    float: right;
    margin-top: 10px;
    p {
        color: #2980b9;
    }
    p:hover {
        color: #e74c3c;
        cursor: pointer;
    }
}

.expend {
    padding: 0.5px;
    cursor: pointer;
    svg:hover g polygon {
        fill: #EF6DBC;
    }
}