/*
 *  Offscreen Navigation
 *
 */

//------------------------------------
$headerBgColor: rgba(2, 3, 3, 0.85);
$navLinkHoverBg: #e36767;
//-------------------------------------
.cd-header {
    position: absolute;
    top: 0;
    left: 0;
    background: $headerBgColor;
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media only screen and (min-width: 768px) {
        height: 80px;
        background: transparent;
        box-shadow: none;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-header {
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }
    .cd-header.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -80px;
        background-color: $headerBgColor;
        transition: transform 0.3s;
    }
    .cd-header.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
    }
    .cd-header.menu-is-open {
        /* add a background color to the header when the navigation is open */
        background-color: $headerBgColor;
    }
}

.cd-logo {
    display: block;
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    left: .875em;
    img {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .cd-logo {
        left: 2.6em;
    }
}

.cd-secondary-nav {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    right: 10em;
    /* hidden on small devices */
    display: none;
    li {
        display: inline-block;
        margin-left: 2.2em;
    }
    a {
        display: inline-block;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
    @media only screen and (min-width: 768px) {
        display: block;
    }
}

.cd-primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #03263d;
    .cd-menu-text {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        /* hide the text on small devices */
        display: none;
    }
    .cd-menu-icon {
        /* this span is the central line of the menu icon */
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        width: 18px;
        height: 2px;
        background-color: white;
        transition: background-color 0.3s;
        /* these are the upper and lower lines in the menu icon */
        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: white;
            right: 0;
            transition: transform .3s, top .3s, background-color 0s;
        }
        &::before {
            top: -5px
        }
        &::after {
            top: 5px;
        }
    }
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
    // background-color: rgba(255, 255, 255, 0);
    background-color: $headerBgColor;
    &::before {
        transform: rotate(135deg);
    }
    &::after {
        transform: rotate(225deg);
    }
    &::before,
    &::after {
        top: 0;
        background-color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav-trigger {
        width: 100px;
        padding-left: 1em;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        right: 2.2em;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        .cd-menu-text {
            display: inline-block;
        }
        .cd-menu-icon {
            left: auto;
            right: 1em;
            transform: translateX(0) translateY(-50%);
        }
    }
}

.cd-primary-nav {
    /* by default it's hidden - on top of the viewport */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $headerBgColor;
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    backface-visibility: hidden;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.4s;
    // Targets Tablet and Desktop
    @media only screen and (min-width: 768px) {
        padding: 80px 0;
    }
    li {
        font-size: 22px;
        font-size: 1.375rem;
        font-weight: 300;
        list-style: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: .2em 0;
        text-transform: capitalize;
    }
    a {
        color: #ccc;
        display: inline-block;
        padding: .4em 1em;
        border-radius: 0.25em;
        transition: background 0.2s;
        text-decoration: none;
        &:hover {
            background-color: $navLinkHoverBg;
            color: #fff;
        }
    }
    .cd-label {
        color: #eaeaea;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        font-size: 0.875rem;
        margin: 2.4em 0 .8em;
    }
    // Targets Larger Screens
    @media only screen and (min-width: 1170px) {
        li {
            font-size: 30px;
            font-size: 1.875rem;
        }
        .cd-label {
            font-size: 16px;
            font-size: 1rem;
        }
    }
}

.no-touch .cd-primary-nav a:hover {
    background-color: $navLinkHoverBg;
}

.cd-primary-nav .cd-social {
    display: inline-block;
    margin: 0 .4em;
    a {
        width: 44px;
        height: 44px;
        padding: 0;
        background-image: url("../../images/cd-socials.svg");
        background-repeat: no-repeat;
        /* image replacement */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }
}

.cd-primary-nav .cd-facebook a {
    background-position: 0 0;
}

.cd-primary-nav .cd-instagram a {
    background-position: -44px 0;
}

.cd-primary-nav .cd-dribbble a {
    background-position: -88px 0;
}

.cd-primary-nav .cd-twitter a {
    background-position: -132px 0;
}

.cd-primary-nav.is-visible {
    transform: translateY(0);
}